/*all*/
*
{
    font-size: 1em;
}
ul
{
    list-style-type: none;
}
/*header*/
header
{
    border: 1px solid rgb(247, 232, 21);
    display: flex;
    justify-content: center;
}
#innerHeader
{
    
    width: 900px;
    display: flex;
    justify-content: space-between;
}
#innerHeader li, h1,h2, #logo
{
    padding: 10px;
}
#innerHeader ul
{
    display: flex;
    font-size: 1.5em;
}
#logo img
{
    width: 50px;
}
#logo
{
    display: flex;
}
#titrePrincipale h2, h1
{
    margin: 0px;
}
/*section*/
section
{
    
    display: flex;
    justify-content: center;
}
aside
{
    margin: 10px;
}
#innerSection
{
    border: 1px solid rgb(72, 106, 255);
    width: 900px;
    display: flex;
    justify-content: space-between;
    
    
    
}
/*body*/
body
{
    background: url('../image/backgroundImage.jpg') no-repeat ;
    background-size: cover;
    margin: 0px;
    

}
/*footer*/
footer
{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(241, 51, 51);
}
#innerFooter
{
    width: 900px;
    display: flex;
    justify-content: space-between;
    
}
#innerFooter ul
{
    margin: 0px;
    padding: 10px;
    
}