/*all*/

ul
{
    list-style-type: none;
}
/*corp*/

/*header*/
header
{
    width: 100%;
    background-color: rgba(187, 229, 240,.3);
    display: flex;
    justify-content: center;
}
#innerHeader
{
    
    width: 60em;
    display: flex;
    justify-content: space-between;
}
#innerHeader li, h1, #logo
{
    padding: 0.2em;
}
h1
{
    position: relative;
    top: -1.5em;
    left: 2.5em;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h2
{
    font-size: x-large;
    font-style: italic;
    font-size: 1.5em;
    padding: 0px 0px 10px 10px;
}
h3
{
    font-size: 25px;
}
#innerHeader ul
{
    display: flex;
    padding: 0px;
    margin-top: auto;
    font-size: 1.5em;
}
#logo img
{
    width: 5em;
}
#logo
{
    height: 5em;
}
#titrePrincipale h2, h1
{
    margin: 0px;
}
/*section*/
section
{
    background-color: rgba(255,255,255,.1 );
    display: flex;
    justify-content: center;
}
aside
{
    margin-left: 0.5em;
}
#innerSection
{
    
    width: 60em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
/*body*/
body
{
    background: url('../image/backgroundImage.jpg') no-repeat ;
    background-size: cover;
    margin: 0px;
    

}
/*footer*/
footer
{
    margin: 0px;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    background-color: rgba(187, 229, 240,.3);
}
#innerFooter
{
    width: 60em;
    display: flex;
    justify-content: space-between;
    
}
#innerFooter ul
{
    margin: 0px;
    padding: 0.5em;
    
}